.mainPromise {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  &__promise {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/mercsrodek.png);
    background-position-x: 40%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    &__Txt {
      padding: 0 10rem;
      width: 70%;
      height: 75%;
      // background-color: red;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      h2,
      a {
        // font-family: "Roboto", sans-serif;

        color: whitesmoke;
        text-align: center;
        line-height: 4rem;
      }
      &__h1 {
        font-size: 4.5rem;
        color: whitesmoke;
        font-family:Arial, Helvetica, sans-serif;
      }
      &__h2 {
        font-size: 2.7rem;
        font-weight: 100;
        font-style: italic;
      }
    }
  }

  &__a {
    display: block;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 2rem;
    position: absolute;
    text-transform: uppercase;
    bottom: 6rem;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    overflow: hidden;
    box-shadow: 8px 8px 10px 3px black;
    font-family: monospace;
    font-weight: bolder;
  }
}

.animation span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #EFC050);
  animation: animate1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animation span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b,#EFC050);
  animation: animate2 2s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.animation span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #EFC050);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.animation span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b,#EFC050);
  animation: animate4 2s linear infinite;
  animation-delay: 2s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}
