
<section class="card">

  <div class="card__links">
    <h2 class="links__h2">Links</h2>
    <li class="links__link"><a href="/index.html">Home</a></li>
    <li class="links__link" ><a href="/About.html">About</a></li>
    <li class="links__link" ><a href="/booking/Book.html">Book a Taxi</a></li>
    <li class="links__link" ><a href="/Contact.html">Contact</a></li>
  </div>
  <div class="card__pay">
    <h2 class="pay__h2">Accept all major credit cards. </h2>
     <div class="pay__sumUp"></div>
     <div class="pay__credit"></div>
</div>

<div class="card__social">



  <ul id="social__list">
    <li class="list__li"><i class="fab fa-facebook-f zorro"></i></li>
    <li class="list__li"><i class="fab fa-linkedin-in"></i></li>
    <li class="list__li"><i class="fab fa-twitter"></i></li>
  </ul>
</div>
</section>

<footer class="mainFooter">
<h1 class="mainFooter__h1">     &copy; {{ currentYear() }} by   BracknellExecutiveTravel  </h1>
</footer>




